<h1><%="#{@team_name}"%></h1>
<h2>Team Motto: <%="#{@team_motto}"%></h2>

<h2>Hero Name: <%="#{@hero_name1}"%></h2>
<ul>
  <p>Hero Power: <%="#{@hero_power1}"%></p>
  <p>Hero Biography: <%="#{@hero_bio1}"%></p>
</ul>

<h2>Hero Name: <%="#{@hero_name2}"%></h2>
<ul>
  <p>Hero Power: <%="#{@hero_power2}"%></p>
  <p>Hero Biography: <%="#{@hero_bio2}"%></p>
</ul>

<h2>Hero Name: <%="#{@hero_name3}"%></h2>
<ul>
  <p>Hero Power: <%="#{@hero_power3}"%></p>
  <p>Hero Biography: <%="#{@hero_bio3}"%></p>
</ul>
