<h1><%="#{@team_name}"%></h1>
<h2><%="#{@team_motto}"%></h2>

<h2><%="#{@hero_name1}"%></h2>
<ul>
  <p><%="#{@hero_power1}"%></p>
  <p><%="#{@hero_bio1}"%></p>
</ul>

<h2><%="#{@hero_name2}"%></h2>
<ul>
  <p><%="#{@hero_power2}"%></p>
  <p><%="#{@hero_bio2}"%></p>
</ul>

<h2><%="#{@hero_name3}"%></h2>
<ul>
  <p><%="#{@hero_power3}"%></p>
  <p><%="#{@hero_bio3}"%></p>
</ul>
